/* GENERAL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow:auto;
    background-color: #d9dcd6;
}

/* HEADER */

header {
    position: relative;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #171c64;
    color: #ffffff;
    width: 100%;
}

header h1 {
    position: relative;
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    position: relative;
    color: #4497e4;
}

header nav {
    position: relative;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    position: relative;
    list-style-type: none;
}

header nav ul li {
    position: relative;
    display: inline-block;
    margin-left: 25px;
}

/* TEXT */

a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
}

p {
    position: relative;
    font-size: 16px;
}

/* HERO*/

.hero {
    position: relative;
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* IMAGES */
img {
    position: relative;
    max-width: 100%;
}
.img1 {
    position: relative;
    float: left;
    margin-right: 25px;
    width: 400px;
    height: 100%;
}

.img2 {
    position: relative;
    float: right;
    margin-left: 25px;
    width: 400px;
    height: 100%;
}

.img3 {
    position: relative;
    width: 80%;
    margin-left: 60px;
}
/* MAIN */

main {
    position: relative;
    width: 60%;
    display: inline-block;
    margin-left: 20px;
    overflow:auto;
    width: 900px;
}

/* BENEFITS ASIDE */

.benefits {
    overflow:auto;
    position: relative;
    margin-right: 60px;
    padding: 10px;
    clear: both;
    float: right;
    max-width: 20%;
    height: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#ffffff;
    color: #171c64;
}

.benefit-lead {
    position: relative;
    margin-bottom: 30px;
}

.benefit-brand {
    position: relative;
    margin-bottom: 30px;
}

.benefit-cost {
    position: relative;
    margin-bottom: 30px;
}

/* OTHER SECTIONS */


.search-engine-optimization {
    overflow:auto;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    height: 300px;
    width: 900px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #171c64;
    color: #ffffff;
}

.online-reputation-management {
    overflow:auto;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    height: 300px;
    width: 900px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #28274d;
    background-color: white;
}

.social-media-marketing {
    overflow:auto;
    position: relative;
    margin-bottom: 150px;
    padding: 10px;
    height: 640px;
    width: 900px;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #171c64;
    color: #ffffff;
}

/* FOOTER */

.footer {
    position: relative;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}
